# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.env

# dependencies/fr
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing/fr
frontend/coverage

# production/fr
frontend/build

# misc/fr
frontend/.env
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# dependencies/bc
backend/node_modules
backend/.pnp
backend/.pnp.js

# testing/bc
backend/coverage

# production/bc
backend/build

# misc/bc
backend/.env
backend/.DS_Store
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
